<section class="home-nav">
    <div class="container">
        <div class="row">
            <div class="col titulo-header">
                <h1>Portal <span class="cl-amarillo">Alumnos</span></h1>
                <p>Todo lo que necesitas en un solo lugar</p>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class=" row mt-5 mb-5">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/zoom.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HSE MARTES Y JUEVES </h5>
                    <p class="card-text">Desarrollo de habilidades socioemocionales y competencias de empleabilidad
                    </p>
                    <p class="card-text">Horario desde las 16:00 hrs hasta las 18:00 hrs
                    </p>
                    <a class="BtnDefault" target="_blank" href="https://zoom.us/j/98844826267">Unirse a Zoom</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/classroom.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Classroom</h5>
                    <p class="card-text">Desarrollo de habilidades socioemocionales y competencias de empleabilidad
                    </p>
                    <p class="card-text">Horario desde las 16:00 hrs hasta las 18:00 hrs
                    </p>
                    <a class="BtnDefault" target="_blank" href="https://classroom.google.com/u/1/h">Ir a Classroom</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/whatsapp.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Grupo de Whatsapp</h5>
                    <p class="card-text">
                        Grupo de organización de clases y actividades junto a Forge
                    </p>
                    <p class="card-text">comunicarción con sus compañeros y facilitadores</p>
                    <br>
                    <a class="BtnDefault" target="_blank" href="https://chat.whatsapp.com/F92e23zdpQuBTarfthX20E">Ir al
                        Grupo </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/star.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canva / Star Latam Chile</h5>
                    <br>
                    <p class="card-text">Actividades diarias </p>
                    <p class="card-text">Evaluaciones semanales </p>
                    <p class="card-text">Horario Flexible</p>
                    <a class="BtnDefault" target="_blank" href="https://latamstart.instructure.com/">Ir a Canva</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/eduonline.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clases de Programación en Java </h5>
                    <p class="card-text">Universidad de Chile con Accenture </p>
                    <p class="card-text">Horario desde las 09:00 hrs hasta las 13:30 hrs</p>
                    <a class="BtnDefault" target="_blank" href="https://eduonline.ing.uchile.cl/dashboard">Ir al
                        Curso</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card mb-3 mx-auto" style="width: 18rem;">
                <img src="./assets/img/portal/notas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Notas del Curso</h5>
                    <p class="card-text">Evaluaciones Programa tu Futuro</p>
                    <p class="card-text">PTF cuenta con un numero de evaluaciones en donde se irán midiendo los
                        conocimientos mediante pruebas semanales</p>
                    <a class="BtnDefault" target="_blank" href="/perfil">ver Notas</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="horario">
    <div class="container">
        <div class="row">
            <div class="col ">
                <h1 class="cl-amarillo"><img src="./assets/img/iconos/icon-horario.png" alt="">Horario Programa tu
                    Futuro </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <thead>
                        <tr class="p">
                            <th scope="col"> </th>
                            <th scope="col">Lunes</th>
                            <th scope="col">Martes</th>
                            <th scope="col">Miercoles</th>
                            <th scope="col">Jueves</th>
                            <th scope="col">Viernes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>9:00 - 11:00</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programacion</td>

                        </tr>
                        <tr>
                            <td>11:00 - 13:30</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programación</td>
                            <td>Programacion</td>
                        </tr>
                        <tr class="table-warning">
                            <td>13:30 - 15:00</td>
                            <td>Almuerzo</td>
                            <td>Almuerzo</td>
                            <td>Almuerzo</td>
                            <td>Almuerzo</td>
                            <td>Almuerzo</td>
                        </tr>
                        <tr>
                            <td>15:00 - 16:00</td>
                            <td></td>
                            <td>HSE -PTF2</td>
                            <td>Taller Programación</td>
                            <td>HSE - PTF2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>16:00 - 17:00</td>
                            <td></td>
                            <td>HSE -PTF2</td>
                            <td>Taller Programación</td>
                            <td>HSE - PTF2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>17:00 - 18:00</td>
                            <td></td>
                            <td>HSE -PTF2</td>
                            <td>Taller Programación</td>
                            <td>HSE - PTF2</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>