<section class="home-nav">
    <div class="container">
        <div class="row">
            <div class="col titulo-header">
                <h1>Portal <span class="cl-amarillo">Alumnos</span></h1>
                <p>Todo lo que necesitas en un solo lugar</p>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class=" row mt-5 mb-5">
        <div class="col-md-3 col-sm-6">
            <div class="card mb-3" style="width: 17rem;">
                <img src="./assets/img/portal/zoom.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">HSE MARTES Y JUEVES </h5>
                    <p class="card-text">Desarrollo de habilidades socioemocionales y competencias de empleabilidad
                    </p>
                    <p class="card-text">Horario desde las 16:00 hrs hasta las 18:00 hrs
                    </p>
                    <a class="BtnDefault" target="_blank" href="https://zoom.us/j/98844826267">Unirse a Zoom</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card mb-3" style="width: 17rem;">
                <img src="./assets/img/portal/classroom.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Classroom</h5>
                    <p class="card-text">Desarrollo de habilidades socioemocionales y competencias de empleabilidad
                    </p>
                    <p class="card-text">Horario desde las 16:00 hrs hasta las 18:00 hrs
                    </p>
                    <a class="BtnDefault" target="_blank" href="https://classroom.google.com/u/1/h">Ir a Classroom</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card mb-3" style="width: 17rem;">
                <img src="./assets/img/portal/star.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canva / Star Latam Chile</h5>
                    <br>
                    <p class="card-text">Actividades diarias </p>
                    <p class="card-text">Evaluaciones semanales </p>
                    <p class="card-text">Horario Flexible</p>
                    <a class="BtnDefault" target="_blank" href="https://latamstart.instructure.com/">Ir a Canva</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card mb-3" style="width: 17rem;">
                <img src="./assets/img/portal/eduonline.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Clases de Programación en Java </h5>
                    <p class="card-text">Universidad de Chile con Accenture </p>
                    <p class="card-text">Horario desde las 09:00 hrs hasta las 13:30 hrs</p>
                    <a class="BtnDefault" target="_blank" href="https://eduonline.ing.uchile.cl/dashboard">Ir al
                        Curso</a>
                </div>
            </div>
        </div>
    </div>
</div>