.home-nav{
    background-image: url("/assets/img/slider/header-contacto.jpg");
    padding-bottom: 3em;
    padding-top: 12rem;
}
/***cambio color***/
.fixed-color{
    background-color: white;
    padding: 2.5rem 0px 0.5rem 0px;
    
}
.fixed-color a{
    color:black;
}
.fixed-color img{
    width: 70%;
}
/*******/
.titulo-header{
    color:white;
}
.titulo-header h1{
    font-size: 3.8rem;
    width: 55%;
}
.cl-amarillo{
    color:#ffce35;
}


.titulo-header p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #fff;
    width: 55%;
    font-weight: 100;
}

.BtnDefault {
    background: #ffce35;
    color: #404041;
    border-radius: 50px;
    padding: 12px 36px;
    border: 1px solid #ffce35;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
    min-width: 220px;
    font-size: 0.9rem;
    /* margin: 0 auto; */
    max-height: 48px;
    z-index: 1;
}
/**************/