<section class="home-nav">
    <div class="container">
        <div class="row">
            <div class="col titulo-header">
                <h1>Empieza tu <span class="cl-amarillo">Futuro</span></h1>
                <p>Entrénate para superar el desafío de trabajar, estudiar y empezar tu propio camino.</p>
                <a class="BtnDefault" href="#programa">Saber más</a>
            </div>
        </div>
    </div>
</section>
<section class="nosotros">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-12  text-center que-hacemos" id="nosotros">
                <h1>¿Qué hacemos?</h1>
                <p>Motivamos a jóvenes económicamente vulnerables para que accedan a una vida de calidad a través del
                    trabajo, el aprendizaje continuo y el compromiso con la comunidad.

                    Nuestro Programa se focaliza en el desarrollo de habilidades socioemocionales y digitales clave para
                    los trabajos del futuro y la adaptación a escenarios cambiantes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-7 mx-auto mb-5">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/I0BLdbM2OvQ" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col titulo-nosotros">
                <h1><span class="cl-amarillo">Trabajo</span>, educación,
                    valores y compromiso social</h1>
                <p>Inspiramos a jóvenes para que desarrollen su talento y construyan un futuro mejor.</p>
            </div>
        </div>
    </div>
</section>
<section class="programa">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-5" id="programa">
                <h1>¿Qué vas a aprender?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <img class="mb-4" src="./assets/img/iconos/icon-conocerte.png" alt="">
                <h4 class="cl-amarillo mb-3 ">
                    Conocerte
                </h4>
                <h5>Descubre tu potencial</h5>
                <p class="mb-5">¿Quién soy, cómo me ven, que quiero para mí, podré lograrlo? Desarrolla tu confianza y
                    autoestima,
                    aprende a tomar buenas decisiones y a cumplir objetivos concretos.</p>
            </div>
            <div class="col-4 text-center">
                <img class="mb-4" src="./assets/img/iconos/icon-experiencia.png" alt="">
                <h4 class="cl-amarillo mb-3 ">
                    Ganar experiencia
                </h4>
                <h5>Mejora tus oportunidades</h5>
                <p class="mb-5">Entrena con ejercicios que te ayudarán a concretar tus objetivos: taller de comunicación
                    oral,
                    entrevistas simuladas, diseño de CV, visitas a empresas, uso de plataformas digitales.</p>
            </div>
            <div class="col-4 text-center">
                <img class="mb-4" src="./assets/img/iconos/icon-especializarte.png" alt="">
                <h4 class="cl-amarillo mb-3 ">
                    Especializarte
                </h4>
                <h5>Focaliza tus intereses</h5>
                <p class="mb-5">¿Quién soy, cómo me ven, que quiero para mí, podré lograrlo? Desarrolla tu confianza y
                    autoestima,
                    aprende a tomar buenas decisiones y a cumplir objetivos concretos.</p>
            </div>
        </div>
    </div>
</section>
<section class="programa-curso">
    <div class="container-fluid curso">
        <div class="row p-5">
            <div class="col-6 text-center">
                <p>Quieres saber más del programa</p>
            </div>
            <div class="col-6">
                <a class="BtnDefault" routerLink="/cursos">Ver Programa</a>
            </div>
        </div>
    </div>
</section>
<section class="contacto pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1>Contacto</h1>
                <h2>Centro Forge</h2>
            </div>
            <div class="col-6" id="contacto">
                <h2>Chile</h2>
                <h3 class="mt-3">Santiago de Chile​
                    Centro Ñuñoa</h3>
                <p class="mb-0">Irarrázaval 3665​</p>
                <p class="mb-0">Tel: (56 9) 5799 9343​</p>
                <a href="mailto:chile@fondationforge.org">chile@fondationforge.org</a>
            </div>
        </div>
    </div>
</section>