<section>
    <div class="container">
        <div class="row">
            <ul class="nav justify-content-end nav-usuario fixed-top">
                <li class="nav-item">
                    <a class="nav-link" href="/registro">Registro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portal">Portal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cursos">Cursos</a>
                </li>
            </ul>
        </div>
    </div>
</section>